# Exploring `datetime` module
* Constants available in datetime module:
    * `MINYEAR` (value = 1)
    * `MAXYEAR` (value = 9999)

In [1]:
import datetime

In [3]:
print("Minimum acceptable year: {}".format(datetime.MINYEAR))
print("Maximum acceptable year: {}".format(datetime.MAXYEAR))

Minimum acceptable year: 1
Maximum acceptable year: 9999

# datetime.date
You can create an object of date as `datetime.date(year, month, day)` because <b>year</b>, <b>month</b>, and <b> day</b> are required arguments to create date object.


### Attributes:
* `year` (ranging from `1` to `9999`) [`*readonly`]
* `month` (ranging from `1` to `12`) [`*readonly`]
* `day` (ranging from `1` to `31` depending on month) [`*readonly`]
* `min` (`datetime.MINYEAR`, `1`, `1`)
* `max` (`datetime.MAXYEAR`, `12`, `31`)
* `resolution` (smallest possible difference between two non-equal date objects --> `timedelta(days=1)`)

### Methods:
* `fromisofromat(string)`: datetime.date
* `fromoridal(integer)`: datetime.date
* `fromtimestamp(timestamp)`: datetime.date
* `today(None)`: date

In [71]:
date = datetime.date(1996, 8, 10)
print(date)
print("Year: {}, Month: {}, Day: {}".format(date.year, date.month, date.day))
print("Min: {}, Max: {}, Resolution: {}".format(datetime.date.min, datetime.date.max, datetime.date.resolution))

1996-08-10
Year: 1996, Month: 8, Day: 10
Min: 0001-01-01, Max: 9999-12-31, Resolution: 1 day, 0:00:00

You can get current date with `datetime.date.today()` by calling `today()` method of `date` class.

In [12]:
today = datetime.date.today()
print(today)

2021-08-06

<b>ISO Date Format: </b> In this format date is represented as `YYYY-MM-DD`.

`datetime.date.fromisoformat(str_of_date_in_iso_format)` - - - > You can create date object by passing date in <b>`ISO format`</b> as a string to `fromisoformat(str_of_date_in_iso_format)` method of `date` class.

In [14]:
date = datetime.date.fromisoformat('1996-08-10')
print(date)

1996-08-10

<b>Ordinal Date Format: </b> `integer` number representing date corresponding to a <b><i>`Proleptic Gregorian Ordinal`</i></b>.

`datetime.date.fromordinal(int)` - - - > You can create date object from <b>`Proleptic Gregorian Ordinal`</b> as an `integer` using `fromordinal(int)` method of `date` class.  


<b><i>For example: </i></b> `728881` integer represents `August 10, 1996`

In [54]:
date = datetime.date.fromordinal(1998000) # 728881 ordinal date corresponds to August 10, 1996.
print(date)

5471-05-04

<b>`Timestamp`</b> is a way to track time as running seconds!

In [55]:
import time
timestamp = time.time() # it gives current timestamp.
print(timestamp)        # you can see it gives no any meaning.
date = datetime.date.fromtimestamp(timestamp) # let's convert it to date so that we can understand.
print(date)

1628233648.93843
2021-08-06

In [64]:
print(date)
print(today)
print(today-date)

1996-08-10
2021-08-06
9127 days, 0:00:00

In [88]:
print(date.ctime())
print(date.isocalendar())
print(date.isoformat())
print(date.isoweekday())
print(date.weekday())
print(date.strftime("%d %b, %Y"))
"""
    %A : full day name. (i.e. Monday)
    %d : date of the month. (i.e. 31)
    %D : 
    %b : 
    %B : full month name. (i.e. March)
    %Y : year in four digits. (i.e. 2021)
    %y : last two digits of year. (2021 --> 21)
    %m : month in two digits. (March --> 03)
    
"""
print(date.toordinal())
print(date.timetuple())
print(date.replace(year=1997))
print(date.replace(month = 3))
print(date.replace(day=12))

Sat Aug 10 00:00:00 1996
(1996, 32, 6)
1996-08-10
6
5
10 Aug, 1996
728881
time.struct_time(tm_year=1996, tm_mon=8, tm_mday=10, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=223, tm_isdst=-1)
1997-08-10
1996-03-10
1996-08-12

In [125]:
#help(datetime.date)

In [56]:
print(date.day)
print(date.month)
print(date.year)

6
8
2021

# datetime.datetime

### Attributes
##### Required Args:
* `year` (`datetime.MINYEAR` <= year <= `datetime.MAXYEAR`)
* `month` (`1` <= month <= `12`)
* `day` (`1` <= day <= `days in a month`)

##### Optional Args:
* `hour` (`0` <= hour < `24`) default is `0`
* `minute` (`0` <= minute < `60`) default is `0`
* `second` (`0` <= second < `60`) default is `0`
* `microsecond` (`0` <= microsecond < `1000000`) default is `0`
* `fold` (`0` or `1`) default is `0`
* `tzinfo` (`timezone`) default is `None`


### Methods
* `today(None)`: datetime.datetime
* `now(None)`: datetime.datetime
* `utcnow(None)`: datetime.datetime
* `fromtimestamp(timestamp)`: datetime.datetime
* `fromisoformat(str)`: datetime.datetime
* `replace(year[, month, day, ...])`: datetime.datetime

In [91]:
from datetime import datetime as dt

In [96]:
date = dt(1996, 8, 10)
print(date)
print("Year: ",date.year)
print("Month: ", date.month)
print("Day: ", date.day)
print("Hour: ", date.hour)
print("Minute: ", date.minute)
print("Second: ", date.second)
print("Microsecond: ", date.microsecond)
print("Fold: ", date.fold)

1996-08-10 00:00:00
Year:  1996
Month:  8
Day:  10
Hour:  0
Minute:  0
Second:  0
Microsecond:  0
Fold:  0

In [121]:
date = dt.now()
print(dt.today())
print(dt.now())
print(dt.utcnow())
print(dt.fromtimestamp(time.time()))
print(date.date())
print(date.time())
print(date.timetz())
print(date.utcoffset())
print(date.dst())
print(date.tzname())
print(date.utctimetuple())
print(date.timetuple())
print(date.timestamp())
print(date.toordinal())
print(date.weekday())
print(date.isoweekday())
print(date.isocalendar())
print(date.ctime())
print(date.replace(year=2012))
print(date.strftime("%b"))

2021-08-06 16:12:27.552519
2021-08-06 16:12:27.552967
2021-08-06 11:12:27.553069
2021-08-06 16:12:27.553145
2021-08-06
16:12:27.552465
16:12:27.552465
None
None
None
time.struct_time(tm_year=2021, tm_mon=8, tm_mday=6, tm_hour=16, tm_min=12, tm_sec=27, tm_wday=4, tm_yday=218, tm_isdst=0)
time.struct_time(tm_year=2021, tm_mon=8, tm_mday=6, tm_hour=16, tm_min=12, tm_sec=27, tm_wday=4, tm_yday=218, tm_isdst=-1)
1628248347.552465
738008
4
5
(2021, 31, 5)
Fri Aug  6 16:12:27 2021
2012-08-06 16:12:27.552465
Aug

In [124]:
#help(dt)

# datetime.time

## Attributes
* `min` time(`0`, `0`, `0`, `0`)
* `max` time(`23`, `59`, `59`, `999999`)
* `resolution` (the smallest difference between two non-qual time objects `timedelta(microseconds=1)`)
* `hour` (`0` <= hour < `24`) [`*readonly`] default is `0`
* `minute` (`0` <= minute < `60`) [`*readonly`] default is `0`
* `second` (`0` <= second < `60`) [`*readonly`] default is `0`
* `microsecond` (`0` <= microsecond < `1000000`) [`*readonly`] defualt is `0`
* `tzinfo` [`*readonly`] default is `None`
* `fold` (`0` or `1`) [`*readonly`] default is `0`


## Methods:
* `fromisoformat(date_string)`: datetime.time
* `replace(hour, ...])`: datetime.time
* `strftime(format)`: string
* `utcoffset()`: 
* `dst()`: day light saving time object
* `tzname()`: string
* `gmtime()`
* `asctime
* 
* 
* 
*

In [122]:
from datetime import time as t

In [123]:
t()

datetime.time(0, 0)

In [139]:
print(time.localtime())
print(time.gmtime())
print(time.asctime())
print(time.mktime(time.gmtime()))
print(time.strptime('20:23:00', "%H:%M:%S"))

time.struct_time(tm_year=2021, tm_mon=8, tm_mday=6, tm_hour=18, tm_min=20, tm_sec=45, tm_wday=4, tm_yday=218, tm_isdst=0)
time.struct_time(tm_year=2021, tm_mon=8, tm_mday=6, tm_hour=13, tm_min=20, tm_sec=45, tm_wday=4, tm_yday=218, tm_isdst=0)
Fri Aug  6 18:20:45 2021
1628238045.0
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=20, tm_min=23, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)